@font-face {
  font-family: 'TT Lakes Regular';
  src: url("./fonts/TTLakes/TTLakes-Regular.eot");
  src: url("./fonts/TTLakes/TTLakes-Regular.woff") format('woff'),
  url("./fonts/TTLakes/TTLakes-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'TT Lakes Medium';
    src: url('./fonts/TTLakes/TTLakes-Medium.eot');
    src: url('./fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
    url('./fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
      font-family: 'TT Lakes Bold';
      src: url('./fonts/TTLakes/TTLakes-Bold.eot');
      src: url('./fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
      url('./fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      }


      html {
        box-sizing: border-box;
        font-size: 62.5%;
      }
      *, *:before, *:after {
        padding: 0;
        margin: 0;
        transition: .2s ease-in-out;
      }
      
      body {
        flex: 1 100%;
        overflow-x: hidden;
      }

      .header {
        display: flex;
        justify-content: space-between;
        height: 88px;
        gap: 0px;
        align-items: center;
        background: rgba(255, 255, 255, 1);
      }

      ul {
        list-style-type: none;
      }
      .header__left,
      .header__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header__left {
        padding-left: 16px;
        gap: 16.73px;
      }
      .header__right {
        padding-right: 16px;
        gap: 16px;
      }

      .header__right::before {
        display: box;
        content: '';
        width: 2px;
        height: 32px;
        position: fixed;
        background: rgba(234, 234, 234, 1);
        top: 28px;
        margin-left: -20px;
      }

      .header::after {
        display:box;
        content: '';
        width: 100%;
        position: absolute;
        height: 1px;
        top: 87px;
        opacity: 0px;
        background: rgba(217, 255, 245, 1);
      }
      
      main {
        background: rgba(248, 248, 248, 1);
       height: 59.7rem;
      }
      .main__title {
        width: 288px;
        height: 40px;
        padding-top: 24px;
        gap: 0px;
        display: flex;
        justify-content: start;
        gap: 12px;
      }

      .title__h1 {
        font-family: "TT Lakes Bold";
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
      }
      button {
        border: 0;
        background: rgba(248, 248, 248, 1);

      }

      .item__button {
        height: 40px;
        font-family: "TT Lakes Regular";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        padding: 8px 16.54px;
        border-radius: 3px;
        color: rgba(126, 126, 130, 1);


      }

      .item__button--hover {
        background: rgba(255, 255, 255, 1);
        border: 2px solid rgba(184, 255, 236, 1);
      }
      
      .nav__list {
        display: flex;
        white-space: nowrap;
      }

      .nav {
        margin-top: 24px;
        margin-left: 16px;
        margin-bottom: 24px;
      }

      .section__p {
        font-family: "TT Lakes Regular";
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        
        margin: 0 16px;
        margin-bottom: 16px
        /* */
        
        
      }

      .section__button {
        font-family: "TT Lakes Medium";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        color: rgba(27, 28, 33, 1);
        margin-left: 16px;
        height: 24px;
        width: 132px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
      }
      .header__mid {
        display: none;
      }

      .nav__item:nth-child(3),
      .nav__item:nth-child(4),
      .nav__item:nth-child(5),
      .nav__item:nth-child(6) {
        display: none;
      }

      .section__img {
        width: 32rem;
        height: 17.6rem;
      }

      .p__extra {
        display: none;
      }
      
      .buttons {
        display: none;
      }

      .p__extra1 {
        display: none;
      }


      @media (min-width: 768px) {
        .header__mid {
          display: flex;
          gap: 16px;
          justify-content: flex-end;
          flex-grow: 2;
          margin-right: 42px;

        }
        
        .header {
          justify-content: space-between;
          flex-wrap: nowrap;

        }

        .nav__item:nth-child(3),
      .nav__item:nth-child(4) {
        display: block;
      }
        
      .main__section {
        display: flex;
        justify-content:space-between;
        gap: 48px;

      }
      .section,
      .section__img {
        flex: 1 100%;
      }

      .header__left {
        padding-left: 24px;
      }

      .header__right {
        padding-right: 24px;
      }
      
      .section__img {
        width: 36rem;
        height: 20.8rem;
        margin-right: 24px;
      }

      .main__title {
        gap: 20px;
      }
      .nav {
        margin-top: 32px;
        margin-left: 24px;
        margin-bottom: 34px;
      }

      .section__p {
        margin-left: 24px;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        width: 312px;
        height: 160px;
        margin-bottom: 10px;
      }
      .p__extra {
        display: flex;

      }

      .header__left {
        gap: 42.73px;
      }
      
      .left__logo::before {
        display: box;
        content: '';
        width: 2px;
        height: 32px;
        position: fixed;
        background: rgba(234, 234, 234, 1);
        top: 28px;
        margin-left: -20px;
      }

      .section__button {
        margin-left: 24px;
      }
      }

      @media (min-width: 1120px){
        .header {
          display: none;
        }

        .main__title {
          padding-top: 42px;
        }
        
        .main__title {
          width: 100%;
          
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;

        }


        .title__button {
          font-family: "TT Lakes Medium";
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.20000000298023224px;
          text-align: right;
          
         
        }
        .buttons {
          display: flex;
          gap: 8px;
          margin-left: 45rem;
          
          
        }
        .button2 {
          margin-left: 24px;
        }

        .nav__item:nth-child(5),
        .nav__item:nth-child(6) {
          display: block;
        }
        
        .section__img {
          height: 309px;
          width: 531px;
        }

        .p__extra1 {
          display: inline;
        }
        .p__extra {
          display: inline;
        }
        .section__p{
        width: 490px;
        height: 160px;
        margin-left: 34px;
        
        }

        .nav {
          margin-left: 32px;
        }
    
        
       
      }
      
   



/**
.nav__button {
  border: none; 
     outline: none; 
     background: rgba(248, 248, 248, 1);

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
    
  }

  
  
  body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
  }

 

  .header{
    height: 88px;
    background: rgba(255, 255, 255, 1);

  }

  main {
    background: rgba(248, 248, 248, 1);
    height: 509px;
    
  }

  .pos {
    border: 2px dashed #3498db;
  }

  .container {
    padding: 0 16px;
  }

  .header__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
  }


  .header::after {
      display:box;
      content: '';
      width: 100%;
      position: absolute;
      height: 1px;
      top: 87px;
      opacity: 0px;
      background: rgba(217, 255, 245, 1);
  }

  .nav__repair::before {
   
    
  }

  .section__h1 {
    font-family: "TT Lakes";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    width: 288px;
  }

  .section {
    width: 304px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  .nav__list {
    width: 504px;
    height: 40px;
    top: 176px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    list-style-type: none;

    
  }

  .nav__button {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 8px 16.54px;
    white-space: nowrap;
    height: 40px;
    align-self: center;
    
  }

  
 .nav__button--hover {
  border: 2px solid rgba(184, 255, 236, 1);
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
 }

 .nav {
  padding-top: 24px;
  padding-left:16px 
 }

 .maiv__content {
  width: 320px;
  height: 322px;
  top: 240px;
  gap: 0px;
  opacity: 0px;
 }

 .content-section {
  padding-top: 24px;
 }

 .content__p {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  width: 288px;
  height: 90px;
 }

 **/